*{
	font-family: verdana;
}

.img-top {
	width: 100%;
	height: 100px;
	background: url("../images/questionMark.jpeg");
	background-repeat: repeat;
	color: #b1cadd;

}
img {

	visibility: hidden;
}

.show {

	visibility: visible;
}

.red {

	color: red;
}

.green{

	color: green;
}
